
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&display=swap');
body{
    margin: 0;
    padding: 0;
    color: black;
}

header{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
    position: relative;
    z-index: 100;
}
header:hover{
    background-color: white;
    border-bottom: 1px solid black;
}
.about a{
    text-decoration: none;
    color: black;
    font-family: "Lilita One", sans-serif;
    font-size: 40px;
    font-weight: 600;
}

select{
    border: 1px solid black;
    background: transparent;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    margin-right: 30px;
}
.link a{
    color: black;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

.main{
    position: relative;
    background-image: url(bird\ banner.jpg);
    width: 100%;
    height: 100vh;
    font-family: "Bebas Neue", sans-serif;
    margin-top: -70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main::after{
    content:'';
    position: absolute;
    inset: 0 0 0 0;
    background-image: url(bird_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    pointer-events: none;
    z-index: 10;
}
.main .content{
    font-size: 12px;
}
.main .content div:nth-child(2){
    font-size: 20em;
    font-weight: bold;
    
}

.main .content div:nth-child(1){
    font-size: 3em;
   
}
.main .btn{
    display: flex;
}
button{
    border: 2px solid black;
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    letter-spacing: 2px;
    cursor: pointer;
}
#play{
    font-size: 30px;
    margin-left: 30px;
   padding: 10px 10px 10px 14px ;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 70px;

}
.section{
    background-color:  rgb(247, 241, 231);
    height: 70vh;
    padding: 40px 12px 40px 12px
}
.pad{
    background-image: url(chidiya.jpg);
    height: 100%;
    font-family: "Bebas Neue", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 10px 
    
}
.above{
    height: 50%;
    font-size: 70px;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 40px;

}
.below{
    height: 50%;
    padding-left: 40px;
}

.empty{
  height: 80vh;
  display: flex;
  align-items: center;
  border: 2px solid black;
  background-color:  rgb(236, 227, 212);
  font-family: "Bebas Neue", sans-serif;
}
.empty .son{
    text-align: center;
    width: 100%;
    font-size: 15px;
    padding-bottom: 20px;
}
.son h1{
    font-size: 3em;

}
.son p{
    font-size: 1.7em;
}

.neeche{
    background-color: rgb(116, 123, 92);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px 0px 10px 0px;
}
.first{
    
    display: flex;
    flex-direction: column;
    width: 22%;
    text-align: start;
}
.first h3{
    font-size: 18px;
    font-weight: bold;
}
.first a{
    padding-bottom: 15px;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
}
.copyright{
    text-align: center;
}
.copyright h4{}
@media screen and (max-width: 1200px){
    .main .content{
        font-size: 12px;
    }
    .first{
        width: 22%;
    } 
}

@media screen and (max-width: 992px){
    .main .content{
        font-size: 9px;
    }
    .first{
        width: 30%;
    }
    button{
        font-size: 10px;
    }
}

@media screen and (max-width: 678px){
    .main .content{
        font-size: 7px;
    }
    .first{
        width: 32%;
    }
    button{
        font-size: 8px;
    }
    .section{
        height: 70%};
    
    
    
}
@media screen and (max-width: 560px){
    .main.content{
        font-size: 5px;
    }
    .first{
        width: 35%;
    }
    button{
        font-size: 10px;
    }
    .section{
        height: 70%};
    
    
    
}
@media screen and (max-width: 360px){
    .main.content{
        font-size: 3px;
    }
    .first{
        width: 37%;
    }
    button{
        font-size: 9px;
    }
    .section{
        height: 70%};
   
    
}
